In [1]:
import pandas as pd

### 데이터 불러오기

In [2]:
data1 = pd.read_csv('data/subway1.csv', encoding='CP949')
data2 = pd.read_csv('data/subway2.csv', encoding='CP949')
data3 = pd.read_csv('data/subway3.csv', encoding='CP949')
data4 = pd.read_csv('data/subway4.csv', encoding='CP949')
data5 = pd.read_csv('data/subway5.csv', encoding='CP949')
data6 = pd.read_csv('data/subway6.csv', encoding='CP949')
data7 = pd.read_csv('data/subway7.csv', encoding='CP949')
data8 = pd.read_csv('data/subway8.csv', encoding='CP949')
data9 = pd.read_csv('data/subway9.csv', encoding='CP949')
data10 = pd.read_csv('data/subway10.csv', encoding='CP949')
data11 = pd.read_csv('data/subway11.csv', encoding='CP949')
data12 = pd.read_csv('data/subway12.csv', encoding='CP949')

### 데이터 병합

In [3]:
data = pd.concat([data1, data2, data3, data4, data5, data6,
                  data7, data8, data9, data10, data11, data12])

In [4]:
data

           사용일자    노선명          역명   승차총승객수   하차총승객수      등록일자
0      20200101    1호선          종각  20427.0  16301.0  20200104
1      20200101    1호선          시청  12126.0  10516.0  20200104
2      20200101  우이신설선         신설동    892.0    828.0  20200104
3      20200101  우이신설선          보문    917.0    855.0  20200104
4      20200101  우이신설선  성신여대입구(돈암)   2010.0   2363.0  20200104
...         ...    ...         ...      ...      ...       ...
18513  20201231    경의선          신촌    541.0    633.0  20210103
18514  20201231    경의선         서울역   2512.0   3329.0  20210103
18515  20201231    경원선         소요산   1522.0   1401.0  20210103
18516  20201231    경원선         동두천   1379.0   1589.0  20210103
18517  20201231    경원선       동두천중앙   2155.0   2219.0  20210103

[217055 rows x 6 columns]

### 일자별 역별 승하차 총 승객수

In [5]:
subway = data.groupby(['사용일자','역명'])['승차총승객수','하차총승객수'].sum()

<ipython-input-5-74dc6beb5c8c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  subway = data.groupby(['사용일자','역명'])['승차총승객수','하차총승객수'].sum()

In [6]:
subway

                     승차총승객수   하차총승객수
사용일자     역명
20200101 4.19민주묘지    1504.0   1352.0
         가능          3470.0   3358.0
         가락시장        6867.0   7135.0
         가산디지털단지    15689.0  16742.0
         가양          8940.0   9185.0
...                     ...      ...
20201231 회기         17307.0  15517.0
         회룡          8694.0   8806.0
         회현(남대문시장)  16893.0  17392.0
         효창공원앞       7202.0   7031.0
         흑석(중앙대입구)   5324.0   5446.0

[187418 rows x 2 columns]

In [7]:
subway['승하차총승객수'] = subway['승차총승객수'] + subway['하차총승객수']

In [8]:
subway

                     승차총승객수   하차총승객수  승하차총승객수
사용일자     역명
20200101 4.19민주묘지    1504.0   1352.0   2856.0
         가능          3470.0   3358.0   6828.0
         가락시장        6867.0   7135.0  14002.0
         가산디지털단지    15689.0  16742.0  32431.0
         가양          8940.0   9185.0  18125.0
...                     ...      ...      ...
20201231 회기         17307.0  15517.0  32824.0
         회룡          8694.0   8806.0  17500.0
         회현(남대문시장)  16893.0  17392.0  34285.0
         효창공원앞       7202.0   7031.0  14233.0
         흑석(중앙대입구)   5324.0   5446.0  10770.0

[187418 rows x 3 columns]

In [9]:
sum_p = subway.drop(['승차총승객수', '하차총승객수'], axis=1)

In [10]:
sum_p

                    승하차총승객수
사용일자     역명
20200101 4.19민주묘지    2856.0
         가능          6828.0
         가락시장       14002.0
         가산디지털단지    32431.0
         가양         18125.0
...                     ...
20201231 회기         32824.0
         회룡         17500.0
         회현(남대문시장)  34285.0
         효창공원앞      14233.0
         흑석(중앙대입구)  10770.0

[187418 rows x 1 columns]

In [11]:
# sum_p.to_csv("지하철승하차총승객수.csv", encoding="CP949")

### 일자별 역별 승하차 평균 승객수

In [12]:
avg_p = subway.groupby('역명')['승차총승객수','하차총승객수'].mean()

<ipython-input-12-42bf0a9b919c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  avg_p = subway.groupby('역명')['승차총승객수','하차총승객수'].mean()

In [13]:
avg_p

                 승차총승객수        하차총승객수
역명
4.19민주묘지    2288.893443   2174.073770
가능          5399.751366   5157.653005
가락시장       13797.494536  14499.587432
가산디지털단지    47478.259563  49870.013661
가양         16336.792350  15828.814208
...                 ...           ...
회기         19577.344262  18866.751366
회룡         10136.704918   9941.103825
회현(남대문시장)  18649.371585  19756.972678
효창공원앞       7832.218579   7505.489071
흑석(중앙대입구)   6269.158470   6536.931694

[521 rows x 2 columns]

In [14]:
avg_p['승하차평균승객수'] = (avg_p['승차총승객수'] + avg_p['하차총승객수']) / 2

In [15]:
avg_p

                 승차총승객수        하차총승객수      승하차평균승객수
역명
4.19민주묘지    2288.893443   2174.073770   2231.483607
가능          5399.751366   5157.653005   5278.702186
가락시장       13797.494536  14499.587432  14148.540984
가산디지털단지    47478.259563  49870.013661  48674.136612
가양         16336.792350  15828.814208  16082.803279
...                 ...           ...           ...
회기         19577.344262  18866.751366  19222.047814
회룡         10136.704918   9941.103825  10038.904372
회현(남대문시장)  18649.371585  19756.972678  19203.172131
효창공원앞       7832.218579   7505.489071   7668.853825
흑석(중앙대입구)   6269.158470   6536.931694   6403.045082

[521 rows x 3 columns]

In [16]:
avg_p = avg_p.drop(['승차총승객수', '하차총승객수'], axis=1)

In [17]:
avg_p

               승하차평균승객수
역명
4.19민주묘지    2231.483607
가능          5278.702186
가락시장       14148.540984
가산디지털단지    48674.136612
가양         16082.803279
...                 ...
회기         19222.047814
회룡         10038.904372
회현(남대문시장)  19203.172131
효창공원앞       7668.853825
흑석(중앙대입구)   6403.045082

[521 rows x 1 columns]

In [18]:
# avg_p.to_csv("지하철승하차평균승객수.csv", encoding="CP949")